.mainPage{
    background-color: rgb(255, 255, 255);
    width: auto; /* A4 width */
    height: 297mm; 
   display: flex;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;

   position: relative;
   align-items: center;

    
}

body{
    background-color: rgb(255, 255, 255);
}
.overlay{
    position: absolute; 
    display: flex;
    flex-direction: column;
    background-color: rgb(210, 210, 210);
    width:350px;
    margin-left: 30px;
    height: 430mm;
    z-index: 0;  
    top: 0;
}

.contact{
    margin-top: 350px;
  margin-left: 50px;
    color:rgba(0,108,98,1);
    font-size: 25px; 
    font-weight: bold; 
}
.education{
    margin-top: 160px;
    margin-left: 50px;
      color:rgba(0,108,98,1);
      font-size: 25px; 
      font-weight: bold; 
}
.c-point::before{
    content: "call";
    font-family: "Material Icons"; 
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
    color: rgb(76, 76, 76);
}
.c-point{
    position: absolute;
    margin-top: 420px;
    margin-left: 40px;
    font-family:Arial, Helvetica, sans-serif ;
    font-size:18px;
}
.c-point2::before{
    content: "email";
    font-family: "Material Icons"; 
    font-weight: 300;
    font-size: 20px;
    margin-right: 5px;
    color: rgb(76, 76, 76);
}
.c-point3::before{
    content: "location_on";
    font-family: "Material Icons"; 
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
    color: rgb(76, 76, 76);
}
.c-point2{
     position: absolute;
    margin-top: 450px;
    margin-left: 40px;
    font-family:Arial, Helvetica, sans-serif ;
    font-size:18px;
}
.c-point3{
    position: absolute;
    margin-top: 480px;
    margin-left: 40px;
    font-family:Arial, Helvetica, sans-serif ;
    font-size:18px;
}
.aline4{
    position: absolute;
    margin-left: 30px;
    width: 300px;
    height: 3px;
    margin-top: 400px;
    background-color: rgb(115, 115, 115);
}
.aline5{
    position: absolute;
    margin-left: 30px;
    width: 300px;
    height: 3px;
    margin-top: 590px;
    background-color: rgb(115, 115, 115);
}


.overlay2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute; 
   
    background-color: rgb(255, 255, 255);
    width:720px;
    margin-left: 380px;
    height: 534mm;
    z-index: 0;
    
}
.box1{
    background-color: rgb(255, 255, 255);
    width: 300mm;
    height: 180px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.photoParent{
    position: relative;
    width: 220px; 
    height: 220px;
    margin-bottom: 750px;
    margin-left: 90px;
  
}
.photo2 {
    position: absolute;
    left: 50%;
    top: 50%;  
    transform: translate(-50%, -50%);
    border-radius: 50%; 
    z-index: 2;
    width: 220px;
    height: 220px;
    background-color: white;
}

.photo {
    position: absolute;
    left: 50%; 
    top: 50%;  
    transform: translate(-50%, -50%); 
    background-image: url('prakash.png');
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: black;
    z-index: 3; 
}
.name{
    font-size: 40px;
    font-weight: bold;
    color: rgba(0,108,98,1) ;
    margin-left: 280px;
    z-index: 1;
    
}
.name2{
    margin-left: 280px
}
.box2{
    background-color: rgba(0,108,98,1);
    width: 300mm;
    height: 50px;
    position: absolute;
   
    margin-bottom: 711px;
    display: flex;
   
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 5px;
    z-index: 2;  
}
.box3{
    position: absolute;
    background-color: white;
    width: 310mm;
    height: 70px;
    z-index: 1;
    margin-bottom: 713px;
}

.profile{
    margin-bottom: 300px;
    width: 750px;
    height: 350px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
}
.projects{
  margin-top: 290px;
    width: 750px;
   
    position: absolute;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
   
    margin-left: 10px;
}
.internships{
    margin-top: 1150px;
    width: 750px;
   z-index: -1;
    position: absolute;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    
    margin-left: 10px;
}
.achievements{
    margin-top: 1600px;
    width: 750px;
   z-index: -2;
    position: absolute;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    
    margin-left: 10px;
}
.internhead{
    color:rgba(0,108,98,1);
    font-size: 25px; 
    font-weight: bold; 
  
    line-height: 100px;  
}
.achievementhead{
    color:rgba(0,108,98,1);
    font-size: 25px; 
    font-weight: bold; 
  
    line-height: 100px;  
}
.aline{
  position: absolute;
    
    width: 750px;
    height: 3px;
    margin-top: 70px;
    background-color: rgb(115, 115, 115);
}
.aline2{
    position: absolute;
    
    width: 750px;
    height: 3px;
    margin-top: 70px;
    background-color: rgb(115, 115, 115);
}
.aline3{
    position: absolute;
    
    width: 750px;
    height: 4px;
    margin-top: 70px;
    background-color: rgb(115, 115, 115);
}
.phead{
    color:rgba(0,108,98,1);
    font-size: 25px; 
    font-weight: bold; 
 
    line-height: 100px; 
}

.projhead{
    color:rgba(0,108,98,1);
    font-size: 25px; 
    font-weight: bold; 
  
    line-height: 100px;   
}


.projcontent{
    display: flex;
    flex-direction: column;
    
    
    
   
}
.proj1{
    display: flex;
    flex-direction: column;
}
.proj1head{
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    color:rgba(0,108,98,1) ;
    font-weight: 800;

}
.internname{
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    color:rgba(0,108,98,1) ;
    font-weight: 800;
}
.proj1content{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    gap: 5px;

}
.p1point1{
    margin-top: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
}
.pcontent{
    position: absolute;
 font-size: 19px;
 margin-top: 60px;
}

.p1point1::before{
    content: "\2022\00A0";
    background-color: rgb(253, 253, 253);
    
   
}
.p1point2::before{
    content: "\2022\00A0";
    background-color: rgb(255, 255, 255);
   
    
}
.p1point3::before{
    content: "\2022\00A0 ";
    background-color: rgb(255, 255, 255);
   

}